// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transform: scale(0);
    transition: 0.3s linear;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.show {
    transform: scale(1);
}

.overlay .form-box {
    width: 70%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.form-box i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

.fade-enter-active {
    transition: 0.5s linear;
    opacity: 0;
    animation: show 1s ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.2;
    }
    45% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.6;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.fade-leave-active {
    opacity: 1;
    transition: opacity 0.5s linear;
    animation: dissappear 1s linear;
}

@keyframes dissappear {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }

    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

.button-side {
    position: absolute;
    top: 50%;
    right: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightgreen;
    color: white;
    transition: 0.2s linear;
}

.button-side:hover {
    background-color: green;
}

.likes-part {
    margin-top: 10px;
    display: flex;
    width: 200px;
}

.likes-part i {
    font-size: 22px;
    margin-right: 5px;
    cursor: pointer;
}

.error-page {
    display: flex;
    width: 80%;
    margin: 300px auto;
    flex-direction: column;
    overflow: hidden;
}
.error-text {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    text-shadow: 3px 3px 5px rgba(143, 14, 14, 0.2);
    font-weight: 700;
    font-family: Roboto, sans-serif;
    transition: 1s linear;
    overflow: hidden;
    animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.image-fram {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.round-about {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: grey;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.round-about i {
    font-size: 60px;
}
